<a href="https://colab.research.google.com/github/yooung513/CodingTest/blob/main/Coding_inflearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 문법

In [1]:
2+3

5

In [2]:
# 한 번에 여러 변수 대입 

a, b, c = 3, 2, 1
print(a,b,c)

3 2 1

In [3]:
# 값 교환

a, b = 10, 20 
print(a, b)

a, b = b, a
print(a, b)

10 20
20 10

In [6]:
# 변수 타입

#정수형
a = 12345
print(type(a))

#실수형
a = 12.345
print(type(a)) 

#문자형
a = 'student'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [16]:
# 출력방식

print("number")

a, b, c=1, 2, 3
print(a, b, c)
print("number", a, b, c)
print("number :", a, b, c)

# 변수 사이 구분
print(a,b,c, sep=', ')
print(a,b,c, sep=',')
print(a,b,c, sep='')
print(a,b,c, sep='\n') # 줄바꿈

# 줄바꿈2
print("********************************")
print(a)
print(b)
print(c)

# 붙여서 출력
print("********************************")
print(a, end='')
print(b, end='')
print(c)

number
1 2 3
number 1 2 3
number : 1 2 3
1, 2, 3
1,2,3
123
1
2
3
********************************
1
2
3
********************************
123

In [29]:
'''
a = input("숫자를 입력하세요 :")
print(a)

# split() = 띄어쓰기로 숫자 구분
a, b = input("숫자를 입력하세요 :").split()
print(a, b)
print(a+b)
print(type(a))

#int로 변환 후 연산
a, b = input("숫자를 입력하세요 :").split()
a = int(a)
b = int(b)
print(type(a))
print(a+b)



'''

#int로 받기 -> map을 아용하여 정수화하여 저장
a, b = map(int, input("숫자를 입력하세요 :").split())
print(type(a))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)   # 몫 연산
print(a%b)    # 나머지 연산
print(a**b)   # 거듭제곱 연산

숫자를 입력하세요 :5 3
<class 'int'>
8
2
15
1.6666666666666667
1
2
125

In [33]:
# 참 == / 거짓 !=

# x = 7
x = 5

if x == 7 : 
  print('Lucky')
  print("ㅋㅋ")   #들여쓰기 잘못하면 에러발생

if x!=7 : 
  print("lucky~")

lucky~

In [39]:
# 중첩

'''
#x = 15
#x = 12
x = 9
if x >= 10 : 
  if x % 2 == 1 :             # 나머지
    print("10이상의 홀수")


x = 9
if x > 0 : 
  if x < 10:
     print("10보다 작은 자연수")


x = 7
if x > 0 and x < 10 : 
  print("10보다 작은 자연수")
'''

x = 7
if 0 < x < 10 : 
  print("10보다 작은 자연수")

10보다 작은 자연수

In [42]:
# 분기

#x = 10 
x = -1

if x > 0: 
  print("양수")
else :
  print("음수")

음수

In [46]:
# 다중 if문
# 위에 하나먼저 걸리면 출력하고 끝남

x = 80
if x >= 90 : 
  print("A")
elif x >= 80 : 
  print("B")
elif x >= 70 : 
  print("C")
elif x >= 60 : 
  print("D")
else : 
  print("F")

B

In [49]:
# 반복문 (for, while)

# range = 어떤 범위까지의 정수를 리스트에 담음
a = range(10)
print(list(a))

a = range(1, 10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
for i in range(10): 
  print("hello")
  print(i)

hello
0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9

In [54]:
for i in range(10, 0, -1) : 
  print(i)

10
9
8
7
6
5
4
3
2
1

In [55]:
i = 1
while i<=10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [56]:
i = 10
while i>=1 :
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [58]:
i = 1
while True : 
  print(i)
  if i == 10 :
    break
  i += 1

i = 1
while True : 
  print(i)
  i += 1
  if i == 10 :
    break

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9

In [59]:
for i in range(1, 11) : 
  if i % 2 == 0 : # 짝수
    continue
  print(i)

1
3
5
7
9

In [63]:
for i in range(1,11) :
  print(i)
  if i == 5 :
    break
else : 
  print("출력")           # 중간에 강제 break로 else로 빠지지 않음

1
2
3
4
5

In [66]:
for i in range(1,11) :
  print(i)
else : 
  print("출력")           # 정상적으로 구문이 완료되면 else문으로 빠짐

1
2
3
4
5
6
7
8
9
10
출력

In [69]:
# 1. 1부터 N까지 홀수 출력하기
# 강의랑 동일

n = int(input())
for i in range(1, n+1) :
  if i % 2 == 1 : 
    print(i)

11
1
3
5
7
9
11

In [70]:
# 2. 1부터 N까지의 합 구하기
# 강의랑 동일

n = int(input())
sum = 0
for i in range(1, n+1) :
  sum += i                # sum = sum+i 표현식도 있음
print(sum)

10
55

In [79]:
# 3. n의 약수 출력하기
# 나의 방법
n = int(input())
for i in range(1, n+1) :
  for j in range(1, n+1) :
    if i*j == n :
      print(i, end=" ")

20
1 2 4 5 10 20

In [80]:
# 강의
n = int(input())
for i in range(1, n+1) :
  if n%i == 0:
    print(i, end=" ")

20
1 2 4 5 10 20

In [81]:
for i in range(5) :
  for j in range(5) :
    print(j, end=" ")
  print()           # 줄바꿈

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [83]:
for i in range(5) :
  print("i :", i, sep='', end=" ")
  for j in range(5) :
    print("j :", j, sep='', end=" ")
  print()

i :0 j :0 j :1 j :2 j :3 j :4
i :1 j :0 j :1 j :2 j :3 j :4
i :2 j :0 j :1 j :2 j :3 j :4
i :3 j :0 j :1 j :2 j :3 j :4
i :4 j :0 j :1 j :2 j :3 j :4

In [84]:
for i in range(5) :
  for j in range(5) :
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [86]:
for i in range(5) :       # 세로
  for j in range(i+1) :   # 가로
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [93]:
for i in range(5, 0, -1) :
  for j in range(i) :
    print("*", end=" ")
  print() 

print() 
print("------------------------------")
print() 

for i in range(5) :
  for j in range(5-i) :
    print("*", end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

------------------------------

* * * * *
* * * *
* * *
* *
*

In [110]:
# 문자열과 내장함수

msg = "It is Time"
print(msg.upper())  #대문자
print(msg.lower())  #소문자
print(msg)          #변하는 것은 아님

print() 
print("------------------------------")
print() 

tmp = msg.upper()
print(tmp)
print(tmp.find('T'))    #find : 글자의 인덱스 출력 (첫 번째 해당 글자)
print(tmp.count('T'))   #count : 글자의 개수 출력

print() 
print("------------------------------")
print() 

print(msg)
print(msg[:2])          #슬라이스 : 문장의 인덱스 순서 -1 까지 출력 (2 > 1까지)
print(msg[3:5])

print() 
print("------------------------------")
print() 

print(len(msg))
for i in range(len(msg)) :
  print(msg[i], end = " ")

print()

for x in msg : 
  print(x, end = "")

print() 
print("------------------------------")
print() 

for x in msg : 
  if x.isupper() :
    print(x, end = " ")

print() 

for x in msg : 
  if x.islower() :
    print(x, end = " ")

IT IS TIME
it is time
It is Time

------------------------------

IT IS TIME
1
2

------------------------------

It is Time
It
is

------------------------------

10
I t   i s   T i m e
It is Time
------------------------------

I T
t i s i m e

In [112]:
#공백 제거
msg = "It is Time"

for x in msg : 
  if x.isalpha() :      # isalpha : 알파벳인 경우에만 참
    print(x, end = "")

ItisTime

In [ ]:
#아스키 넘버