<a href="https://colab.research.google.com/github/yooung513/CodingTest/blob/main/Coding_inflearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 문법

In [1]:
2+3

5

In [2]:
# 한 번에 여러 변수 대입 

a, b, c = 3, 2, 1
print(a,b,c)

3 2 1

In [3]:
# 값 교환

a, b = 10, 20 
print(a, b)

a, b = b, a
print(a, b)

10 20
20 10

In [6]:
# 변수 타입

#정수형
a = 12345
print(type(a))

#실수형
a = 12.345
print(type(a)) 

#문자형
a = 'student'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [16]:
# 출력방식

print("number")

a, b, c=1, 2, 3
print(a, b, c)
print("number", a, b, c)
print("number :", a, b, c)

# 변수 사이 구분
print(a,b,c, sep=', ')
print(a,b,c, sep=',')
print(a,b,c, sep='')
print(a,b,c, sep='\n') # 줄바꿈

# 줄바꿈2
print("********************************")
print(a)
print(b)
print(c)

# 붙여서 출력
print("********************************")
print(a, end='')
print(b, end='')
print(c)

number
1 2 3
number 1 2 3
number : 1 2 3
1, 2, 3
1,2,3
123
1
2
3
********************************
1
2
3
********************************
123

In [29]:
'''
a = input("숫자를 입력하세요 :")
print(a)

# split() = 띄어쓰기로 숫자 구분
a, b = input("숫자를 입력하세요 :").split()
print(a, b)
print(a+b)
print(type(a))

#int로 변환 후 연산
a, b = input("숫자를 입력하세요 :").split()
a = int(a)
b = int(b)
print(type(a))
print(a+b)



'''

#int로 받기 -> map을 아용하여 정수화하여 저장
a, b = map(int, input("숫자를 입력하세요 :").split())
print(type(a))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)   # 몫 연산
print(a%b)    # 나머지 연산
print(a**b)   # 거듭제곱 연산

숫자를 입력하세요 :5 3
<class 'int'>
8
2
15
1.6666666666666667
1
2
125

In [33]:
# 참 == / 거짓 !=

# x = 7
x = 5

if x == 7 : 
  print('Lucky')
  print("ㅋㅋ")   #들여쓰기 잘못하면 에러발생

if x!=7 : 
  print("lucky~")

lucky~

In [39]:
# 중첩

'''
#x = 15
#x = 12
x = 9
if x >= 10 : 
  if x % 2 == 1 :             # 나머지
    print("10이상의 홀수")


x = 9
if x > 0 : 
  if x < 10:
     print("10보다 작은 자연수")


x = 7
if x > 0 and x < 10 : 
  print("10보다 작은 자연수")
'''

x = 7
if 0 < x < 10 : 
  print("10보다 작은 자연수")

10보다 작은 자연수

In [42]:
# 분기

#x = 10 
x = -1

if x > 0: 
  print("양수")
else :
  print("음수")

음수

In [46]:
# 다중 if문
# 위에 하나먼저 걸리면 출력하고 끝남

x = 80
if x >= 90 : 
  print("A")
elif x >= 80 : 
  print("B")
elif x >= 70 : 
  print("C")
elif x >= 60 : 
  print("D")
else : 
  print("F")

B