<a href="https://colab.research.google.com/github/yooung513/CodingTest/blob/main/Coding_inflearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 문법

In [ ]:
2+3

5

In [ ]:
# 한 번에 여러 변수 대입 

a, b, c = 3, 2, 1
print(a,b,c)

3 2 1

In [ ]:
# 값 교환

a, b = 10, 20 
print(a, b)

a, b = b, a
print(a, b)

10 20
20 10

In [ ]:
# 변수 타입

#정수형
a = 12345
print(type(a))

#실수형
a = 12.345
print(type(a)) 

#문자형
a = 'student'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# 출력방식

print("number")

a, b, c=1, 2, 3
print(a, b, c)
print("number", a, b, c)
print("number :", a, b, c)

# 변수 사이 구분
print(a,b,c, sep=', ')
print(a,b,c, sep=',')
print(a,b,c, sep='')
print(a,b,c, sep='\n') # 줄바꿈

# 줄바꿈2
print("********************************")
print(a)
print(b)
print(c)

# 붙여서 출력
print("********************************")
print(a, end='')
print(b, end='')
print(c)

number
1 2 3
number 1 2 3
number : 1 2 3
1, 2, 3
1,2,3
123
1
2
3
********************************
1
2
3
********************************
123

In [ ]:
'''
a = input("숫자를 입력하세요 :")
print(a)

# split() = 띄어쓰기로 숫자 구분
a, b = input("숫자를 입력하세요 :").split()
print(a, b)
print(a+b)
print(type(a))

#int로 변환 후 연산
a, b = input("숫자를 입력하세요 :").split()
a = int(a)
b = int(b)
print(type(a))
print(a+b)



'''

#int로 받기 -> map을 아용하여 정수화하여 저장
a, b = map(int, input("숫자를 입력하세요 :").split())
print(type(a))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)   # 몫 연산
print(a%b)    # 나머지 연산
print(a**b)   # 거듭제곱 연산

숫자를 입력하세요 :5 3
<class 'int'>
8
2
15
1.6666666666666667
1
2
125

In [ ]:
# 참 == / 거짓 !=

# x = 7
x = 5

if x == 7 : 
  print('Lucky')
  print("ㅋㅋ")   #들여쓰기 잘못하면 에러발생

if x!=7 : 
  print("lucky~")

lucky~

In [ ]:
# 중첩

'''
#x = 15
#x = 12
x = 9
if x >= 10 : 
  if x % 2 == 1 :             # 나머지
    print("10이상의 홀수")


x = 9
if x > 0 : 
  if x < 10:
     print("10보다 작은 자연수")


x = 7
if x > 0 and x < 10 : 
  print("10보다 작은 자연수")
'''

x = 7
if 0 < x < 10 : 
  print("10보다 작은 자연수")

10보다 작은 자연수

In [ ]:
# 분기

#x = 10 
x = -1

if x > 0: 
  print("양수")
else :
  print("음수")

음수

In [ ]:
# 다중 if문
# 위에 하나먼저 걸리면 출력하고 끝남

x = 80
if x >= 90 : 
  print("A")
elif x >= 80 : 
  print("B")
elif x >= 70 : 
  print("C")
elif x >= 60 : 
  print("D")
else : 
  print("F")

B

In [ ]:
# 반복문 (for, while)

# range = 어떤 범위까지의 정수를 리스트에 담음
a = range(10)
print(list(a))

a = range(1, 10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10): 
  print("hello")
  print(i)

hello
0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9

In [ ]:
for i in range(10, 0, -1) : 
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 1
while i<=10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 10
while i>=1 :
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 1
while True : 
  print(i)
  if i == 10 :
    break
  i += 1

i = 1
while True : 
  print(i)
  i += 1
  if i == 10 :
    break

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 11) : 
  if i % 2 == 0 : # 짝수
    continue
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,11) :
  print(i)
  if i == 5 :
    break
else : 
  print("출력")           # 중간에 강제 break로 else로 빠지지 않음

1
2
3
4
5

In [ ]:
for i in range(1,11) :
  print(i)
else : 
  print("출력")           # 정상적으로 구문이 완료되면 else문으로 빠짐

1
2
3
4
5
6
7
8
9
10
출력

In [ ]:
# 1. 1부터 N까지 홀수 출력하기
# 강의랑 동일

n = int(input())
for i in range(1, n+1) :
  if i % 2 == 1 : 
    print(i)

11
1
3
5
7
9
11

In [ ]:
# 2. 1부터 N까지의 합 구하기
# 강의랑 동일

n = int(input())
sum = 0
for i in range(1, n+1) :
  sum += i                # sum = sum+i 표현식도 있음
print(sum)

10
55

In [ ]:
# 3. n의 약수 출력하기
# 나의 방법
n = int(input())
for i in range(1, n+1) :
  for j in range(1, n+1) :
    if i*j == n :
      print(i, end=" ")

20
1 2 4 5 10 20

In [ ]:
# 강의
n = int(input())
for i in range(1, n+1) :
  if n%i == 0:
    print(i, end=" ")

20
1 2 4 5 10 20

In [ ]:
for i in range(5) :
  for j in range(5) :
    print(j, end=" ")
  print()           # 줄바꿈

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [ ]:
for i in range(5) :
  print("i :", i, sep='', end=" ")
  for j in range(5) :
    print("j :", j, sep='', end=" ")
  print()

i :0 j :0 j :1 j :2 j :3 j :4
i :1 j :0 j :1 j :2 j :3 j :4
i :2 j :0 j :1 j :2 j :3 j :4
i :3 j :0 j :1 j :2 j :3 j :4
i :4 j :0 j :1 j :2 j :3 j :4

In [ ]:
for i in range(5) :
  for j in range(5) :
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(5) :       # 세로
  for j in range(i+1) :   # 가로
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5, 0, -1) :
  for j in range(i) :
    print("*", end=" ")
  print() 

print() 
print("------------------------------")
print() 

for i in range(5) :
  for j in range(5-i) :
    print("*", end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

------------------------------

* * * * *
* * * *
* * *
* *
*

In [ ]:
# 문자열과 내장함수

msg = "It is Time"
print(msg.upper())  #대문자
print(msg.lower())  #소문자
print(msg)          #변하는 것은 아님

print() 
print("------------------------------")
print() 

tmp = msg.upper()
print(tmp)
print(tmp.find('T'))    #find : 글자의 인덱스 출력 (첫 번째 해당 글자)
print(tmp.count('T'))   #count : 글자의 개수 출력

print() 
print("------------------------------")
print() 

print(msg)
print(msg[:2])          #슬라이스 : 문장의 인덱스 순서 -1 까지 출력 (2 > 1까지)
print(msg[3:5])

print() 
print("------------------------------")
print() 

print(len(msg))
for i in range(len(msg)) :
  print(msg[i], end = " ")

print()

for x in msg : 
  print(x, end = "")

print() 
print("------------------------------")
print() 

for x in msg : 
  if x.isupper() :
    print(x, end = " ")

print() 

for x in msg : 
  if x.islower() :
    print(x, end = " ")

IT IS TIME
it is time
It is Time

------------------------------

IT IS TIME
1
2

------------------------------

It is Time
It
is

------------------------------

10
I t   i s   T i m e
It is Time
------------------------------

I T
t i s i m e

In [ ]:
#공백 제거
msg = "It is Time"

for x in msg : 
  if x.isalpha() :      # isalpha : 알파벳인 경우에만 참
    print(x, end = "")

ItisTime

In [ ]:
# 문자 > 아스키넘버 : ord

tmp = 'AZ'

for x in tmp :
  print(ord(x))

tmp = 'az'
for x in tmp :
  print(ord(x))


# 아스키넘버 > 문자 : chr
tmp = 65
print(chr(tmp))

65
90
97
122
A

In [ ]:
import random as r

a = []
print(a)

b = list()
print(b)

a = [1, 2, 3, 4, 5]
print(a)
print(a[0])

b = list(range(1, 11))
print(b)

c = a+b       # 리스트끼리의 덧셈은 합쳐져서 나타남
print(c)

[]
[]
[1, 2, 3, 4, 5]
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

a.append(6)
print(a)

a.insert(3, 7)    #특정 인덱스에 값을 지정 insert(index, value)
print(a)

a.pop()           #맨 뒷 자료를 리스트에서 제거
print(a)

a.pop(3)          #pop(index) : index에 해당 값을 제거
print(a)

a.remove(4)       #remove : 리스트 특정 값 제거
print(a)

print(a.index(5))   #index(value) : value값의 인덱스 추출

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 7, 4, 5, 6]
[1, 2, 3, 7, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 5]
3

In [ ]:
a = list(range(1,11))
print(a)

print(sum(a))       #sum : a 리스트 값의 총 합
print(max(a))       #max : 인자들 중에서 최대값 (a 리스트 값의 최대값)
print(min(a))       #min : 인자들 중에서 최소값 (a 리스트 값의 최소값)
print(min(7, 5))    
print(a)

print()
print('----------------------')
print()

r.shuffle(a)        #a리스트를 무작위로 섞기
print(a)

a.sort()                 #sort : 오름차순 정렬
print(a)

a.sort(reverse=True)     #sort(reverse=True) : 내림차순 정렬
print(a)

a.clear()           #clear : 리스트 값 초기화
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
10
1
5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

----------------------

[4, 1, 10, 3, 7, 8, 2, 9, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [ ]:
a = [23, 12, 36, 53, 19]

print(a[:3])        # 리스트 슬라이스 기능 사용 가능 [x:y] : x인덱스부터 y-1 인덱스까지
print(a[1:4])
print(len(a))       #리스트의 값 (리스트의 길이)

for i in range(len(a)) : 
  print(a[i], end=' ')
print()

for x in a : 
  if x%2 == 1:
    print(x, end=' ')
print()

for x in enumerate(a) :       # 인덱스 값까지 출력, x는 튜플 값으로 추출
  print(x)

print()
print('튜플')
b = (1, 2, 3, 4, 5)         #[]: 리스트 / (): 튜플
print(b)
print(b[0])
#리스트와의 차이점 : 리스트는 값의 변경이 가능하지만 튜플은 값의 변경이 불가능하다
#b[0]=7

print()

for x in enumerate(a):
  print(x[0], x[1])       # x는 튜플 자료값이므로 인덱스로 원소값 추출 가능
print()

for index, value in enumerate(a) : 
  print(index, value)

[23, 12, 36]
[12, 36, 53]
5
23 12 36 53 19
23 53 19
(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

튜플
(1, 2, 3, 4, 5)
1

0 23
1 12
2 36
3 53
4 19

0 23
1 12
2 36
3 53
4 19

In [ ]:
a = [23, 12, 36, 53, 19]

if all(60>x for x in a) :   #모든게 다 값을 충족 -> 참 / 하나로 아닌 경우 -> 거짓
  print('Yes')
else : 
  print('No')


if any(12>x for x in a) :   #한 개라도 충족하는 경우 -> 참 / 모두 거짓인 경우 -> 거짓
  print('Yes')
else :
  print('No')

Yes
No

In [ ]:
#a = [0] * 10
#print(a)

a = [[0]*3 for _ in range(3)]   #반복문 3번 반복 > 1차원 리스트 3번 반복
print(a)

a[0][1] = 1   #a[x][y] : x행의 y열
a[1][1] = 2
a[2][1] = 3
print(a)

print()

for x in a :
  print(x)
print()

#대괄호 없이 출력
for x in a : 
  for y in x :
    print(y, end = " ")
  print()

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 1, 0], [0, 2, 0], [0, 3, 0]]

[0, 1, 0]
[0, 2, 0]
[0, 3, 0]

0 1 0
0 2 0
0 3 0

In [ ]:
#함수 정의
def add(a, b) :
  c = a+b
  print(c)

#함수 호출 (작동)
add(3, 2)
add(5, 7)

5
12

In [ ]:
def add (a, b) : 
  c = a+b
  return c      #값을 리턴하고 함수를 종료

x = add(3, 2)
print(x)        #반환한 값을 추출

5

In [ ]:
def add(a, b) : 
  c = a+b
  d = a-b
  return c, d     # 값을 여러개 리턴 가능 > 튜플 자료구조로 리턴

print(add(3, 2))

(5, 1)

In [ ]:
# 리스트에서 소수만 출력하기

def isPrime(x) : 
  for i in range(2, x) :
    if x%i == 0 : 
      return False
  return True

a = [12, 13, 7, 9, 19]

for x in a :
  if isPrime(x) :
    print(x, end=' ')

13 7 19

In [ ]:
def plus_one(x) : 
  return x+1

print(plus_one(1))


plus_two = lambda x : x+2
print(plus_two(1))

2
3

In [ ]:
a = [1, 2, 3]
print(list(map(plus_one, a)))       #map(함수명, 대상)

print(list(map(lambda x: x+1, a)))

b = list(map(lambda x: x+1, a))
print(b)

# lambda는 sort할 때 기준으로 사용하기 좋음!

[2, 3, 4]
[2, 3, 4]
[2, 3, 4]

# 1. 코드 구현능력 기르기

In [ ]:
# K번째 약수
# 나의 풀이
n, k = map(int, input().split())
numlist = list()

for i in range(1, n+1) :
  if n%i == 0 :
    numlist.append(i)

if len(numlist) >= k :
  print(numlist[k-1])
else :
  print(-1)

1000 12
125

In [ ]:
# 강의

n, k = map(int, input().split())
cnt = 0

for i in range(1, n+1) :
  if n%i == 0 :
    cnt += 1
  if cnt == k :
    print(i)
    break
else :                  # break가 아니라 정상적으로 종료되는 경우 else
  print(-1)

In [ ]:
# K번째 수
# 나의 풀이 (1차)

t = int(input())
result = []

for _ in range(t) :
  n, s, e, k = map(int, input().split())
  numlist = list(input().split())

  for i in range(s-1, e) :
    result.append(numlist[i])
  result.sort()
  print(result[k])

  numlist = []
  result = []

'''
 오답
 출력이 바로나오고, 출력 값이 틀림
'''

2
6 2 5 3
5 2 7 3 8 9
8
15 3 10 3
4 15 8 16 6 6 17 33 10 11 18 7 14 7 15
17

In [ ]:
# 나의 풀이 (1차)

t = int(input())
result = []

for _ in range(t) : 
  n, s, e, k = map(int, input().split())
  num = list(map(int, input().split()))

  nlist = list(num[s-1:e])
  nlist.sort()
  result.append(nlist[k-1])

for i in result :
  print(i)

3
15 3 10 3
4 15 8 16 6 6 17 3 10 11 18 7 14 7 15
6 2 5 3
5 2 7 3 8 9
100 20 60 21
148 810 785 695 201 113 382 234 50 567 586 345 725 614 633 882 671 748 330 705 899 147 947 436 442 963 918 492 948 691 429 591 509 629 227 884 963 939 998 606 343 359 743 573 810 911 292 529 530 584 345 88 110 66 818 898 358 749 428 116 638 650 965 394 780 445 816 312 968 225 653 426 356 565 609 442 60 678 314 50 264 469 518 155 328 170 421 981 951 329 907 616 954 412 658 395 355 345 784 242
6
7
584

In [ ]:
# 강의

T = int(input())

for t in range(T) :
  n, s, e, k = map(int, input().split())
  a = list(map(int, input().split()))          # 숫자열 리스트 저장_의미 없음(추후 의미 부여)
  a = a[s-1:e]                                 #슬라이스 기능 사용, 시작 s번째 = index[s-1], 끝 e번째 = index[e]
  a.sort()
  print("#%d %d" %(t+1, a[k-1]))

2
6 2 5 3
5 2 7 3 8 9
#1 7
15 3 10 3
4 15 8 16 6 6 17 3 10 11 18 7 14 7 15
#2 6

In [ ]:
# K번째 큰수
# 나의 풀이 (*)

n, k = map(int, input().split())
num = list(map(int, input().split()))

for i in range(len(num)) :
  for j in range(len(num)) :
    for k in range(len(num)) :

In [ ]:
n = [13, 15, 34, 23, 45, 65, 33, 11, 26, 42]
n.sort()
print(n)

print(65+45+34)
print(65+45+33)
print(65+42+34)

[11, 13, 15, 23, 26, 33, 34, 42, 45, 65]
144
143
141

In [ ]:
n, k = map(int, input().split())
num = list(map(int, input().split()))
result = set()

for x in range(len(num)) :
  for y in range(x+1, len(num)) :
    for z in range(y+1, len(num)) :
      sum = num[x]+num[y]+num[z]
      result.add(sum)

result = list(result)
result.sort(reverse=True)

print(result[k-1])

100 30
50 53 20 23 42 54 44 18 53 27 44 23 43 20 48 22 50 45 44 52 37 49 15 23 53 21 29 47 53 51 54 22 50 25 49 33 34 49 53 47 20 42 41 41 25 15 25 51 33 38 44 35 49 35 53 47 19 22 31 27 47 18 44 51 25 16 47 46 43 20 49 44 20 29 33 25 25 19 23 50 35 20 35 47 33 32 13 26 39 22 16 32 39 38 35 29 24 16 48 29
132

In [ ]:
# 강의

n, k = map(int, input().split())
a = list(map(int, input().split()))
res = set()   #중복 값 제거

for i in range(n):
  for j in range(i+1, n):
    for m in range(j+1, n):   #3중 for문
      res.add(a[i]+a[j]+a[m]) #set 추가 : add

res = list(res)               #set은 sort기능이 없음 -> list
res.sort(reverse=True)

print(res[k-1])

In [ ]:
#[선수지식] 최소값 구하기

arr = [5, 3, 7, 9, 2, 5, 2, 6]
#arrMin = float('inf')       # 파이썬 내 가장 큰 값
arrMin = arr[0]              # 첫번째 값

for i in range(len(arr)):   #i : arr의 index번호
  if arr[i] < arrMin :      # =조건을 넣으면 같은 값이 있으면 인덱스가 뒤의 값으로 변경됨
    arrMin = arr[i]

print(arrMin)

2

In [ ]:
#[선수지식] 최소값 구하기

arr = [5, 3, 7, 9, 2, 5, 2, 6]
arrMin = float('inf')

for x in arr:
  if x < arrMin:
    arrMin = x

print(arrMin)

2

In [ ]:
# 다영

n = int(input())
score = list(map(int, input().split()))

mid = round(sum(score)/n)

for i in range(mid) :
  for num in score :
    if num - mid == i : 
      print(mid, end= ' ')
      print(score.index(num) )
      break
    elif mid - num == i :
      print(mid, end= ' ')
      print(score.index(num))
      break

10
45 73 66 87 92 67 75 79 75 80
74 1
74 7
74 9
74 5
74 2
74 3
74 4
74 0

In [ ]:
# 다영 (2차)

n = int(input())
score = list(map(int, input().split()))

mid = round(sum(score)/n)

result = []

for i in range(mid) :
  for num in score :
    if abs(num-mid) == i :
      result.append(num)
      break

result.sort(reverse=True)
print(result)

print(mid, end = " ")
print(score.index(result[0]))

10
45 73 66 87 92 67 75 79 75 80
[92, 87, 80, 79, 73, 67, 66, 45]
74 4

In [ ]:
n = int(input())
score = list(map(int, input().split()))

mid = round(sum(score)/n)

first = []
for sco in score :
  first.append(sco - mid)

for num in first :
  for i in range(mid) :
    if abs(num - mid) == i :

10
45 73 66 87 92 67 75 79 75 80
[-29, -1, -8, 13, 18, -7, 1, 5, 1, 6]

In [ ]:
# 다영 (4차)

n = int(input())
score = list(map(int, input().split()))

ave = round(sum(score)/n)

a = 0 

for i in range(ave):
  for s in score:
    if s == ave+i:
      a = s
      break
  else:
    if s == ave-i:
      a = s
      break
  if a != 0 :
    print(ave, end=" ")
    print(score.index(a)+1)
    break

5
1 2 3 4 5
3 3

In [ ]:
# 강의

n = int(input())
a = list(map(int, input().split()))

min = 2147000000              #정수형 크기의 가장 큰 값
ave = round(sum(a)/n)

for idx, x in enumerate(a):   #idx : index, x : 값
  tmp = abs(x-ave)            #절대값(거리)
  if tmp < min:
    min = tmp
    score = x
    res = idx+1
  elif tmp == min:
    if x > score :
      score = x
      res = idx+1

print(ave, res)

10
45 73 66 87 92 67 75 79 75 80
74 7

In [ ]:
# 대표값 문제 오류 수정
'''
소수 첫째 자리에서 반올림
round는 half_up 방식이 아닌 round_half_even 방식
예) a = 4.500
  >> a = 4
   a = 66.5
  >> a = 66
  즉, 정확하게 반(0.500)을 나타내면 짝수로 나타낸다.

따라서 
  a = 66.5
  a = a+0.5
  a = int(a)  > 소수점 없앰
  print(a)
'''

In [ ]:
# 정다면체_다영

n, m = map(int, input().split())
cnt = 0
result = []

for res in range(2, n+m+1):
  for i in range(1, n+1):
    for j in range(1, m+1):
      if res == i+j:
        cnt += 1
  result.append(cnt)
  cnt = 0

maxnum = max(result)

for idx, res in enumerate(result):
  if maxnum == res:
    print(idx+2, end=' ')

6 20
7 8 9 10 11 12 13 14 15 16 17 18 19 20 21

In [ ]:
#정다면체_강의

n, m = map(int, input().split())
cnt = [0]*(n+m+1)                 #주사위 눈의 합보다 큰수를 작성하여 여유 값을 줌 (강의에서 +3정도로 줌)
max = 0

for i in range(1, n+1):
  for j in range(1, m+1):
    cnt[i+j] += 1                 #리스트 => 주사위 눈의 합

for i in range(n+m+1):            #최대값 추출
  if cnt[i] > max:
    max = cnt[i]

for i in range(n+m+1):
  if cnt[i] == max:
    print(i, end = ' ')

4 6
5 6 7

In [ ]:
#자릿수의 합_다영

def digit_sum(x):
  res = 0
  for i in range(len(x)):
    res += int(x[i])
  return res

n = int(input())
nlist = list(input().split())
result = [0]*n

for idx, num in enumerate(nlist):
  result[idx] = digit_sum(num)

maxres = max(result)
maxidx = result.index(maxres)
print(nlist[maxidx])

3
125 15232 97
97

In [ ]:
#자릿수의 합_강의_v1

n = int(input())
a = list(map(int, input().split()))

def digit_sum(x):
  sum = 0
  while x > 0:
    sum += x % 10   #나머지
    x = x // 10     #몫
  return sum

max = -2147000000   #가장 작은 수
for x in a:
  tot = digit_sum(x)
  
  if tot > max:
    max = tot
    res = x

print(res)

3
125 15232 97
97

In [ ]:
#자릿수의 합_강의_v2

n = int(input())
a = list(map(int, input().split()))

def digit_sum(x):
  sum = 0
  for i in str(x):
    sum += int(i)
  return sum

max = -2147000000   #가장 작은 수 (C++의 경우 2^31 값이 최대값)
for x in a:
  tot = digit_sum(x)
  
  if tot > max:
    max = tot
    res = x

print(res)

In [ ]:
#소수_에라토스테네스 체_강의
#소수의 갯수를 찾아내는 가장 빠른 방법

n = int(input())
ch = [0] * (n+1)  #n까지의 빈 리스트
cnt = 0

for i in range(2, n+1):
  if ch[i] == 0:
    cnt += 1
    for j in range(i, n+1, i):  #i의 배수
      ch[j] = 1

print(cnt)     #소수의 개수 출력

200000
17984

In [ ]:
#뒤집은 소수_다영_v1

def reverse(x):
  for i in range(len(x)):
    m = len(x)
    result = x[::-1]
    result = int(result)
  return result

def isPrime(x):
  cnt = 0
  x = int(x)
  for i in range(1, x+1):
    if x%i == 0:
      cnt += 1
  if cnt == 2:
    return True
  else:
    return False

n = int(input())
nlist = list(input().split())

for num in nlist:
  result = reverse(num)
  if isPrime(result) == True:
    print(result, end=' ')

In [ ]:
#뒤집은 소수_다영_v2

def reverse(x):
  for i in range(len(x)):
    m = len(x)
    result = x[::-1]
    result = int(result)
  return result

def isPrime(x):
  cnt = 0
  x = int(x)
  for i in range(1, x+1):
    if x%i == 0:
      cnt += 1
    if cnt > 2:
      return False
      break
  else:
    if cnt == 2:
      return True

n = int(input())
nlist = list(input().split())

for num in nlist:
  result = reverse(num)
  if isPrime(result) == True:
    print(result, end=' ')

100
736 89 35 19349 287 71 719 27200 437 82 1399 23763 591 8 6793 16256 482 14 7725 24830 328 60 2345 4304 348 42 6191 8905 168 19 4026 19408 897 59 9673 15329 857 38 2331 6484 469 19 2652 16738 880 87 8479 29157 976 59 7196 16479 616 50 7979 574 486 79 898 2654 885 53 620 24528 134 32 4443 20954 762 77 1775 3390 507 25 3271 5823 388 47 2727 20194 677 90 6107 25330 204 72 9099 20294 241 92 6511 22215 121 17 6597 5036 685 88 2368 1416
53 17 9931 41 823 80491 3769 83 83761 6917 5 97 431 23 1723 883 29 71

In [ ]:
#뒤집은 소수_강의

n = int(input())
a = list(map(int, input().split()))

def reverse(x):
  res = 0
  while x > 0:
    t = x % 10      #나머지
    res = res * 10 + t
    x = x // 10     #몫
  return res        #뒤집은 수

def isPrime(x):
  if x == 1:
    return False
  for i in range(2, x//2+1):  #소수는 절반까지 존재
    if x % i == 0:
      return False            #False를 return하고 종료함
  else:
    return True               #정상 종료 -> True


for x in a:
  tmp = reverse(x)
  
  if isPrime(tmp):
    print(tmp, end = ' ')

100
736 89 35 19349 287 71 719 27200 437 82 1399 23763 591 8 6793 16256 482 14 7725 24830 328 60 2345 4304 348 42 6191 8905 168 19 4026 19408 897 59 9673 15329 857 38 2331 6484 469 19 2652 16738 880 87 8479 29157 976 59 7196 16479 616 50 7979 574 486 79 898 2654 885 53 620 24528 134 32 4443 20954 762 77 1775 3390 507 25 3271 5823 388 47 2727 20194 677 90 6107 25330 204 72 9099 20294 241 92 6511 22215 121 17 6597 5036 685 88 2368 1416
53 17 9931 41 823 80491 3769 83 83761 6917 5 97 431 23 1723 883 29 71

In [ ]:
#주사위게임_다영

n = int(input())
prize = []

for _ in range(n):
  a, b, c = map(int, input().split())

  if a == b == c:              #3개의 눈이 같은 경우
    pri = 10000 + a*1000
  elif a != b != c:            #3개의 눈이 모두 다른 경우
    pri = max(a, b, c) * 100
  else:                        #2개의 눈이 같은 경우
    if a == b or a == c: 
      pri = 1000 + a*100
    elif b == c:
      pri = 1000 + b*100
  
  prize.append(pri)

print(max(prize))

3
3 3 6
2 2 2
6 2 5
12000

In [ ]:
#주사위 게임_강의
#가장 많은 상금은 같은 눈을 3개 가진 경우임을 알 수 있다.

n = int(input())

for i in range(n):
  tmp = input().split()   #문자형 숫자
  tmp.sort()
  a, b, c = map(int, tmp)
  
  if a == b and b == c:   #if가 참이되면 elif가 참이여도 하지 않으므로 가장 좋은 것을 최고로 위에 저장해준다.
    money = 10000 + (a*1000)
  elif a == b or a == c :
    money = 1000 + (a*100)
  elif b == c:
    money = 1000 + (b*100)
  else :
    money = c * 100       #sort
  
  if money > res:
    res = money

print(res)

In [ ]:
#점수계산_다영

n = int(input())
nlist = list(map(int, input().split()))
score = 0
total = 0

for num in nlist:
  if num == 1:
    score += 1
  else: 
    score = 0
  total += score

print(total)

100
0 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 1 0 0 0 0 0 1 0 1 1 0 1 0 1 1 1 1 1 0 0 0 1 1 1 0 1 0 1 1 0 1 1 0 1 0 0 1 0 1 1 0 1 1 0 1 0 0 1 1
122

In [ ]:
#점수계산_강의

n = int(input())
a = list(map(int, input().split()))
sum = 0
cnt = 0

for x in a:
  if x == 1:
    cnt += 1
    sum += cnt
  else:
    cnt = 0

print(sum)

#탐색 & 시뮬레이션

In [ ]:
#회문 문자열 검사_다영

n = int(input())

for i in range(n): 
  word = input()
  word = word.upper()
  if word == word[::-1]:
    print("#%d %s" %((i+1), "YES"))
  else:
    print("#%d %s" %(i+1, "NO")a)

5
level
#1 YES
moon
#2 NO
abcba
#3 YES
soon
#4 NO
gooG
#5 YES

In [ ]:
#회문 문자열 검사_강의 

n = int(input())

for i in range(n):
  s = input()
  s = s.upper()
  size = len(s)     //앞 뒤 비교

  for j in range(size//2):
    if s[j] != s[-1-j]:
      print("%d NO" %(i+1))
  else:
    print("#d YES" %(i+1))

In [ ]:
#회문 문자열 검사_강의 

n = int(input())

for i in range(n):
  s = input()
  s = s.upper()
  if s == s[::-1]:
    print("#%d YES" %(i+1))
  else: 
    print("#%d NO" %(i+1))

In [ ]:
#숫자만 추출_다영

word = input()
cnt = 0
num = ""

for x in word:
  if x.isdigit():
    num += str(x)

num = int(num)

for i in range(1, num+1):
  if num % i == 0:
    cnt += 1

print(num)
print(cnt)

In [ ]:
#숫자만 추출_강의

s = input()

res = 0
for x in s:
  if x.isdecimal():
    res = res*10 + int(x)
print(res)

cnt = 0
for i in range(1, res+1):
  if res % i == 0:
    cnt += 1
print(cnt)

In [ ]:
#카드 역배치_다영_1차

nlist = [0] * 20

for i in range(20):
  nlist[i] = i+1

for n in range(10):
  a, b = map(int, input().split())
  nlist[a-1:b] = nlist[b-1:a-2:-1]
  print(nlist)

print(nlist)

5 10
[1, 2, 3, 4, 10, 9, 8, 7, 6, 5, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
9 13
[1, 2, 3, 4, 10, 9, 8, 7, 13, 12, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
1 2
[3, 4, 10, 9, 8, 7, 13, 12, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
3 4
[3, 4, 9, 10, 8, 7, 13, 12, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
5 6
[3, 4, 9, 10, 7, 8, 13, 12, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
1 2
[9, 10, 7, 8, 13, 12, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
3 4
[9, 10, 8, 7, 13, 12, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
5 6
[9, 10, 8, 7, 12, 13, 11, 5, 6, 14, 15, 16, 17, 18, 19, 20]
1 20
[]
1 20
[]
[]

In [ ]:
#카드 역배치_강의 

a = list(range(21))

for _ in range(10):
  s, e = map(int, input().split())

  for i in range(e-s+1//2):
    a[s+i], a[e-i] = a[e-i], a[s+i]

a.pop(0)

for x in a:
  print(x, end = '')

In [6]:
#두 리스트 합치기_다영

n = int(input())
nlist = list(map(int, input().split()))

m = int(input())
mlist = list(map(int, input().split()))

result = nlist+mlist
result.sort()

for res in result:
  print(res, end = " ")

10
1 10 27 39 50 61 65 70 93 93
7
7 51 65 66 70 82 93
1 7 10 27 39 50 51 61 65 65 66 70 70 82 93 93 93

In [7]:
#수들의 합_다영 (1차_오류)

n, m = map(int, input().split())
a = list(map(int, input().split()))
cnt = 0

for i in range(n):
  for j in range(i+1, n):
    if a[i]+a[j] == m:
      cnt += 1

print(cnt)

8 3
1 2 1 3 1 1 1 2
10

In [26]:
#수들의 합_다영 (2차_정답)

n, m = map(int, input().split())
a = list(map(int, input().split()))
s = 0
cnt = 0

for i in range(n):
  s = a[i]

  if s == m:
    cnt += 1

  for j in range(i+1, n):
    s += a[j]
    if s == m:
      cnt += 1
      break
    elif s > m:
      break


print(cnt)

10000 300000000